mat-radio-button{
    margin-right: 5%;
}

.text{
    color: tomato;
    font-size: larger;
}

.box{
    margin-top: 5%;
    width: 55%;  
    margin-bottom: 5%;
}

.box-card {
    margin: auto;
    margin-top: 4%;
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    width: fit-content;
    border: solid 1.5px  #5cb85c;
      box-shadow:  0 0 10px#5cb85c;
      -moz-box-shadow: 0 0 10px  #5cb85c;
      -webkit-box-shadow: 0 0 10px  #5cb85c;
      -o-box-shadow: 0 0 10px  #5cb85c;
      flex: 0 1 calc(23.3% - 22px);
}