<mat-card (click) = "goToDetails(restaurant.id)" class="box" >
    <div class="row" style="height: fit-content;">
        <div class="col" style="height: 230px;" > 
            <img class="col" src={{restaurant.photo}} height="100%" > 
        </div>
        <div class="col">                   
                 <mat-card-title>{{restaurant.name}} 
                    <button mat-mini-fab  color="warn" >
                        {{restaurant.averageGrade}}
                      </button>
                </mat-card-title>
      
            <br>
            <p class="description">{{restaurant.description}}</p> 
        </div>
    </div>
</mat-card>