.box {
    margin: auto;
    opacity: 1;
    padding: 0;
    width: fit-content;
    opacity: 0.9;
        border: solid 1.5px gray ;
          box-shadow:  0 0 10px  rgba(0,0,0,0.6);
          -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
          -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
          -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
          flex: 0 1 calc(23.3% - 22px);
}