
.wrapper {
    margin-top: 5%;
}

.center-div{
    margin: auto;
    width: 80%;
}

.text{
    font-size: larger;
    text-align: center;
}



.applyBtn{
    text-align: center;
}

.report-text {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}
