<div class="box" *ngIf="showForm"><br>

    <!--Reccomendation form-->
    <form [formGroup]="questionsForm" (ngSubmit)="questionsForm.valid && onFormSubmit()" noval>
        <div *ngFor="let question of questions">

            <div class="row text">
                {{question.text}}
            </div><br>

            <mat-radio-group *ngIf="question.name !== 'numOfPeople'" aria-label="Select an option"
                formControlName={{question.name}}>
                <div class="row" style="width: 90%;">
                    <mat-radio-button *ngFor="let answer of question.answers" value={{answer}}>{{answer}}
                    </mat-radio-button>
                </div><br>
            </mat-radio-group>

            <mat-form-field *ngIf="question.name === 'numOfPeople'" style="width: 100%;">
                <input id="numOfPeople" matInput type="number" formControlName="numOfPeople" />
            </mat-form-field>

            <mat-divider></mat-divider><br>
        </div>

        <div class="submitDiv">
            <button type="submit" (click)='onFormSubmit()' class="btn btn-success">Submit</button>
        </div>
    </form>

</div>
<br><br>

<!--Result-->
<div *ngIf="showResult" style="margin: auto; width: 70%;">
    <h2 style="text-align:center;">Result:</h2><br>
    <app-restaurant-basic-info [restaurant]=result></app-restaurant-basic-info>
    <br>
</div>