<div>
    <div class="box">
        <h2>{{restaurant.name}}</h2>
        <br>
        Kitchen: {{restaurant.kitchen}} <br>
        Ambience: {{restaurant.ambience}} <br>
        Music: {{restaurant.music}} <br>
        Price: {{restaurant.price}} <br>
        Capacity: {{restaurant.capacity}} <br>
        Garden: {{restaurant.garden}} <br>
        Wine: {{restaurant.wideRangeOfWines}} <br>
        Childern: {{restaurant.programForChildern}} <br>
        Description: {{restaurant.description}} <br>
    </div>
</div>
