<div class="form-wrapper" *ngIf = "restaurant">
    <div class="box">

            <div class="text-center">
                <img style="display: block; margin: auto;" src={{getPicture(restaurant.image)}}  alt="..." width="350" height="230">
                <h2>{{restaurant.name}}</h2>
                <span>Rating: {{restaurant.reportDTO.average}} ( {{restaurant.reportDTO.numOfReviews}} )</span>
            </div><br>
       

        <!--Rating-->
        <div class="row">
            <div class="col-sm">
                <ul class="list-inline rating-list" 
                    *ngFor="let star of stars" style="display: inline-block" >
                      <li (click)="countStar(star)"
                          [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star"></i>
                      </li> 
                </ul>
            </div>
        </div>
        <br>
         <!--Chart-->
        <div class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>

         <!--Content-->
        Kitchen: {{restaurant.kitchen}} <br>
        Ambience: {{restaurant.ambience}} <br>
        Music: {{restaurant.music}} <br>
        Price: {{restaurant.price}} <br>
        Capacity: {{restaurant.capacity}} <br>
        Description: {{restaurant.description}} <br>


    </div>
</div>
