<div class="form-wrapper">
    <mat-card class="box" *ngIf ="!workingDays" >
        <mat-card-header>
            <mat-card-title >New Restaurant</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="text-center">
                <img style="display: block; margin: auto;" src={{path}}  alt="..." width="350" height="230">
                <input id="fileInput" hidden type="file" (change)="uploadPhoto($event.target.files)" name="file"
              accept=".jpg,.png,.jpeg">
                <button class="btn btn-outline-secondary btn-sm" style="width: 56%;"  (click)="openInput()" >Upload</button>
            </div><br>
            <form class="form" [formGroup]="addRestauratForm" (ngSubmit)="addRestauratForm.valid && onAddRestaurantSubmit()" noval>
                <mat-form-field class="field-full-width">
                    <input id="name"
                      matInput
                      formControlName="name"
                      placeholder="Name" />
                    <mat-error >Name can not be blank.</mat-error>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <br>
                <div class="row">
                    <mat-form-field class="field-full-width" class="col">
                        <input id="street"
                        matInput
                        formControlName="street"
                        placeholder="Street" />
                        <mat-error >Name can not be blank.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="field-full-width" class="col-2">
                        <input id="number"
                        matInput
                        formControlName="number"
                        placeholder="Number" />
                        <mat-error >Name can not be blank.</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="field-full-width" class="col">
                        <input id="longitude"
                        matInput
                        formControlName="longitude"
                        placeholder="Longitude" />
                        <mat-error >Name can not be blank.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="field-full-width" class="col">
                        <input id="latitude"
                        matInput
                        formControlName="latitude"
                        placeholder="Latitude" />
                        <mat-error >Name can not be blank.</mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="row">   
                    <mat-form-field appearance="fill" class="col" >
                        <mat-label>Prices</mat-label>
                        <mat-select formControlName="price">
                        <mat-option value={{price}} *ngFor = "let price of priceValues" >{{price}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col" >
                        <mat-label>Capacity</mat-label>
                        <mat-select  formControlName="capacity">
                            <mat-option value={{capacity}} *ngFor = "let capacity of capacityValues" >{{capacity}}</mat-option>
                        </mat-select>
                    </mat-form-field>  
                </div>

                <div class="row">   
                    <mat-form-field appearance="fill" class="col" >
                        <mat-label>Kitchen</mat-label>
                        <mat-select formControlName="kitchen">
                            <mat-option value={{kitchen}} *ngFor = "let kitchen of kitchenValues" >{{kitchen}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col" >
                        <mat-label>Ambience</mat-label>
                        <mat-select formControlName="ambience">
                            <mat-option value={{ambience}} *ngFor = "let ambience of ambienceValues" >{{ambience}}</mat-option>
                        </mat-select>
                    </mat-form-field>  
                </div>
                <mat-form-field appearance="fill" style="width: 48%;" >
                    <mat-label>Music</mat-label>
                    <mat-select formControlName="music">
                        <mat-option value={{music}} *ngFor = "let music of musicValues" >{{music}}</mat-option>
                    </mat-select>
                </mat-form-field>  

                <div class="row">
                    <mat-checkbox formControlName="wine" class="col">Alcohol</mat-checkbox>
                    <mat-checkbox formControlName="childern" class="col">Program for childern</mat-checkbox>
                    <mat-checkbox formControlName="garden" class="col">Outdoor seating</mat-checkbox>
                    <mat-checkbox formControlName="liveMusic" class="col">Live Music</mat-checkbox>
                    <mat-checkbox formControlName="reservations" class="col">Reservations</mat-checkbox>
                    <mat-checkbox formControlName="parking" class="col">Parking</mat-checkbox>
                    <mat-checkbox formControlName="wifi" class="col">Wifi</mat-checkbox>
                    <mat-checkbox formControlName="tv" class="col">Tv</mat-checkbox>
                </div>

                <div  class="submitDiv">
                    <button type="submit" (click) = "onAddRestaurantSubmit()" class="btn btn-success">Add</button>
                </div>
            </form>
          </mat-card-content>
    </mat-card>
</div>
