<div >
    <div class="float-container">
        <div class="float-child card" *ngFor="let restaurant of restaurants">
            <img class="card-img-top" src="..\..\assets\images\bg14.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{restaurant.name}}</h5>
              <span class="card-subtitle">{{restaurant.street + ' ' + restaurant.number}}</span>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{restaurant.kitchen}}</mat-chip>
                <mat-chip>{{restaurant.ambience}}</mat-chip>
              </mat-chip-list>
              <p class="card-text">{{restaurant.description}}</p>
              <a href="#" class="btn btn-outline-primary">READ MORE</a>
            </div>
        </div>
    </div>
    <mat-paginator class="paginator" [length]="page.length" [pageIndex]="page.pageIndex" [pageSize]="page.pageSize" [pageSizeOptions]="[3, 4, 5, 6, 7, 8]" (page)="nextPage($event)" showFirstLastButtons>
    </mat-paginator>
    
</div>