
.wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
}

.center-div{
    margin: auto;
    width: 80%;
}

.text{
    font-size: 24px;
}

input {
    margin-right: 1%;
    text-align: center;
    width: 4%;
    border: solid 1px   black;
}

.applyBtn{
    text-align: center;
}

.report-text {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}
